<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <h2>当前的n值是：{{n}}</h2>
    <button @click="n++">点我n+1</button>

    <!--使用v-show做条件渲染-->
<!--    <h2 v-show="false">欢迎来到{{name}}</h2>-->
<!--    <h2 v-show="1 === 1">欢迎来到{{name}}</h2>-->

    <!--使用v-if做条件渲染-->
<!--    <h2 v-if="false">欢迎来到{{name}}</h2>-->
<!--    <h2 v-if="1 === 1">欢迎来到{{name}}</h2>-->

    <!--v-else和v-else-if-->
    <div v-show="n === 1">Angular</div>
    <div v-show="n === 2">React</div>
    <div v-show="n === 3">Vue</div>

    <div v-if="n === 1">Angular</div>
    <div v-else-if="n === 2">React</div>
    <div v-else-if="n === 3">Vue</div>
    <div v-else>哈哈</div>

    <!--v-if与template的配合使用-->
    <template v-if="n === 1">
        <h3>你好</h3>
    </template>
</div>
<script>
    Vue.config.productionTip = false;
    new Vue({
        el: "#app",
        data: {
            name: "Teng",
            n: 0
        }
    });
</script>
</body>
</html>
